
.blackbox{
    
    margin-top : 5vh;
    margin-left : 0.5vw;
    height : 90vh;
    width : 87vw;
 background-color: black;
 position: relative;
}
.signup-card{
    position: absolute;
    padding: 0.5rem;
    left: 75vw;
    top:calc((100vh - 20rem)/2);
    border : 1px solid #ccc;
    height: 25rem;
    width: 18rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
 
}
.otaku{
    width: 100%;
    height: 5rem;
    background-color: black;
    position: relative;

}
.otaku-logo{
    position: absolute;
    left : calc((100% - 5rem)/2);
    height : 5rem;
    width  : 5rem;
}
.bottom-card{
    margin-left: 75vw;
    border : 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
   height: 2rem;
   z-index: 400;
   background-color: white;
   position: absolute;
   top: calc((100vh + 30rem)/2);
  
  
  
}
.card-cont{
    width : 18rem; 
    text-align: center;
 
}
.textarea{
  
  width : 15rem
}
.caro{
    position: absolute;
    height : 100%;
    width: 100%;
    
 
}
